apiVersion: v1
kind: Service
metadata:
  name: webgoat-service
  namespace: default
  labels:
    app: webgoat
spec:
  selector:
    app: webgoat
  type: LoadBalancer
  ports:
  - name: http-port  # Unique name for port 8080
    protocol: TCP
    port: 8080
    targetPort: 8080
  - name: admin-port # Unique name for port 9090
    protocol: TCP
    port: 9090
    targetPort: 9090
